*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.pplrCeleb-box{
    /* border: solid green 1px; */
    background-color: gray;
    border-radius: 12px;
}
.pplrCeleb-box>*{
    width: 90%;
    margin:10px auto;
    
}
.pplrCeleb-imageContainer{
    /* border: solid yellow 1px; */
    height: 300px;
    border-radius: 12px;

}
.pplrCeleb-image{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.pplrCeleb-detail>*{
    margin:5px auto;
    /* border :solid black 1px; */
    text-decoration: none;
    color:black;
    font-weight: bold;
    cursor: pointer;
}
