
.pplrCeleb-box{
    background-color: gray;
    border-radius: 12px;
    max-height: 300px;
}
.pplrCeleb-imageContainer{
    height: 70%;
    width: 90%;
    margin:12px auto;
    border-radius: 12px;

}
.pplrCeleb-image{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.pplrCeleb-detail{
    margin:5px auto;
    text-decoration: none;
    display: block;
    width: 90%;
    color:black;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .pplrCeleb-box{
        background-color: gray;
        border-radius: 6px;
        max-height:200px;
        min-width:150px;
    }
    
    .pplrCeleb-imageContainer{
        height: 80%;
        width: 100%;
        border-radius: 6px;
        margin:0px;
    }
    .pplrCeleb-image{
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }
    .pplrCeleb-detail{
        margin:5px auto;
        display: block;
        width: 90%;
        text-decoration: none;
        color:black;
        font-weight:normal;
        font-size: 10px;
        cursor: pointer;
    }
}
