.most-popular-movies{
    background-color: gray;
    max-height:450px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
}
.most-popular-movies>*{
    width: 90%;
    margin:10px  auto;
}
.mostpopularmovie-image-container{
    height: 70%;
    border-radius: 12px;
}
.mostpopularmovie-image
{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.most-popular-rating{
    display:flex;
    justify-content: space-between;
    align-items: center;
}