.movies-news-box{
    /* border: solid black 1px; */
    background-color: #676869;
    max-height:500px;
    border-radius: 12px;
    padding-top: 10px;
    width: 100%;
    font-size: 14px;
}
.movies-news-box>*{
    width: 90%;
    margin: 2px auto;
}
.movies-news-image-container{
    height: 70%;
    position: relative;
    border-radius: 12px;
}
.movies-news-image{
    /* border: solid green 1px; */
    height:100%;
    width: 100%;
    border-radius: 12px;
}

.movies-news-title
{
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.movies-news-writer>p{
    margin: 2px 0px;
}

