*{
margin: 0px;
padding:  0px;
box-sizing: border-box;
}
.apiOption{
    display: flex;
    border: solid black 2px;
    margin: 10px 0px;
    justify-content: space-around;
    padding: 5px 0px;
}
.link{
    text-decoration: none;
    font-weight: bold;
    padding: 8px 5px;
    /* border: solid yellow 2px; */
    color: white;
    background-color: gray;
    border-radius: 12px;
}
.changeColor{
    background-color: darkorange;
    text-decoration: none;
    /* font-weight: bold; */
    padding: 8px 5px;
    /* border: solid yellow 2px; */
    color: white;
    /* background-color: gray; */
    border-radius: 12px;
}