*{
    padding: 0px;
    margin: 0px;
}
.top-250-movies-box{
    /* border: solid black 1px; */
    background-color: #676869;
    max-height:450px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 10px;
    width: 100%;
    font-size: 14px;
    
}
.top-250-movies-box>*{
    width: 90%;
    margin: 5px auto;
    /* border: solid yellow 1px; */
}
.top250movie-imageContainer{
    /* border: solid red 1px; */
    position: relative;
    height: 70%;
    border-radius: 12px;
}
.top250movies-image{
    /* border: solid green 1px; */
    border-radius: 12px;
    height:100%;
    width: 100%;
}
.top250movies-watchList{
    display: flex;
    justify-content: space-between;
}