
.top-250-movies-box{
    /* border: solid yellow 1px; */
    background-color: #676869;
    max-height:450px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 5px;
    width: 100%;
}
.top-250-movies-box>*{
    width: 90%;
    margin: 5px auto;
}
.top250movie-imageContainer{
    height: 70%;
    border-radius: 12px;
}
.top250movies-image{
    border-radius: 12px;
    height:100%;
    width: 100%;
}
.top250movies-watchList{
    display: flex;
    justify-content: space-between;
}
 /* .top250-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}  */
@media screen and (max-width:768px) {
    .top-250-movies-box{
        max-height:200px;
        min-width:150px;
        border-radius: 6px;
        
    }
    .top-250-movies-box>*{
        width: 90%;
        margin: 5px auto;
    }
    .top250movie-imageContainer{
        width: 100%;
        border-radius: 6px;
    }
    .top250movies-image{
        border-radius: 6px;
    }
}