*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.upcoming-movie-container{
    /* border: solid rgb(163, 161, 163) 1px; */
    width: 100%;
    
}
/* .upcoming-movie-box{
    /* border: solid red 1px; 
} */
.upcoming-movie-box>*{
    width: 90%;
    margin: 5px auto;
    /* border: solid red 1px; */
}

.upcoming-movie-collection
{
    display: flex;
    flex-wrap: nowrap;
    /* flex: 0 0 auto; */
    /* overflow: auto; */
    border: solid blue 1px;
    padding: 10px;
    justify-content: space-between;
    overflow-x:auto;
}

 .upcoming-movie-list-container{
    border: solid green 1px;
    max-height:350px;
    width: 300px;
    border-radius: 12px;
    padding-top: 5px;
    background-color: grey;
}
.upcoming-movie-list-container>*{
    border :solid yellow 1px;
    width: 90%;
    margin:5px auto;
}
.upcoming-movie-image-container{
    /* border: solid yellow 1px; */
    height: 80%;
}


.upcoming-movie-list-image{
    height: 100%;
    width: 100%;
}
.upcoming-movie-title{
    border: solid black 1px;
} 