
.top-box-office{
    background-color: gray;
    max-height:400px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 5px;
    width: 100%;
}
.topboxoffice-imageContainer{
    height: 70%;
    width: 90%;
    margin: 10px auto;
    border-radius: 12px;
}
.top-box-image
{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.topboxoffice-view{
    display: flex;
    justify-content: space-between;
    /* border:solid yellow 1px; */
    align-items: center;
}
.topboxoffice-title,.topboxoffice-rating,.topboxoffice-view{
    width: 90%;
    margin: 5px auto;
}
.topboxoffice-title{
    text-overflow: ellipsis;
}
@media screen and (max-width:767px) {
    .top-box-office{
        max-height:200px;
        min-width:150px;
        border-radius: 6px;
        padding-top: 0px;
    }
    .top-box-image
    {
        border-radius: 6px;
    }
    .topboxoffice-imageContainer{
        border-radius: 8px;
        width: 100%;
    }
}


