*{
    margin: 0px;
    padding: 0px;

}
.top-box-office{
    border: solid yellow 2px;
    background-color: gray;
    max-height:400px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 5px;
    width: 100%;
    box-sizing: border-box;
}
.topboxoffice-imageContainer{
    height: 70%;
    width: 90%;
    /* box-sizing: border-box; */
    position: relative;
    margin: 5px auto;
    border-radius: 12px;
}
.top-box-image
{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.topboxoffice-view{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.top-box-office>*{
    
    width: 90%;
    font-weight: bold;
    margin: 5px auto;
}
.topboxoffice-title{
    border: solid red 1px;
    text-overflow: ellipsis;
    /* white-space:nowrap; */
}


