.footer{
    display: flex;
    justify-content: space-around;
    /* border: solid black 1px; */
    padding: 20px 10px;
    background-color: rgb(39, 37, 37);
    color: white;
}
/* .footer>*{
    border: solid red 1px;
    /* text-align: center; 
} */