*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Trailer-box{
    /* border: solid black 1px; */
    background-color: gray;
    max-height:400px;
    width: 300px;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 5px;
}
.Trailer-box:hover{
    transform:perspective(30px) translateZ(1px);
    transition: all;
    transition-duration: 1s;
}
.trailer-image-container{
    /* border: solid red 1px; */
    height: 70%;
    width: 90%;
    box-sizing: border-box;
    position: relative;
    margin: 5px auto;
    border-radius: 12px;
}
.trailer-image{
    /* border: solid green 1px; */
    height:100%;
    /* margin: auto; */
    width:100%;
    border-radius: 12px;
}

.trailer-length{
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: white;
    font-size: larger;
    font-weight: bold;

}
.trailer-videolink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
 .trailer-title , .trailer-date,.watchlist{
    width: 90%;
    font-weight: bold;
    margin: 5px auto;
    /* border: solid yellow 1px; */
}
/* .watchList-btn{
    border: none;
    padding: 10px ;
    margin:5px 0px;
    cursor: pointer;
    background-color: #94aace;
    outline: none;
    border-radius: 5px;
} */

